<div class="post">
  <h1><%= link_to h(post.title), post.permalink %></h1>
  <div class="body"><%= post.content.to_html %></div>
  <div class="footer">
    <div class="tags">
      Tags: <%= tag_links_for(post) %>
    </div>
    <div class="posted">Posted: <%= post.created_at.strftime('%m:%d:%Y') %></div>
  </div>
</div>