<div id="content">
  <% @posts.each do |post| %>
    <%= erb :'_post', :layout => false, :locals => {:post => post} %>
  <% end %>
</div>

<div id="pagination">
  <div class="previous"><%= link_to_previous_page(@posts) %>&nbsp;</div>
  <div class="next"><%= link_to_next_page(@posts) %>&nbsp;</div>
</div>