<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title>blurt.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag 'blurt' %>
  <%= auto_discovery_link_tag :rss, feed_url %>
</head>
<body>
  <div id="main">
    <div id="header">
      blurt. rhymes with dirt.
    </div>
    <%= yield %>
    <div id="footer">
      powered by <a href="http://github.com/reagent/blurt">blurt</a>.
    </div>
  </div>

</body>
</html>